a {
    text-decoration: none;
    color:inherit;
}

a:hover {
    color:#0D6EFD;
}

.text-justified {
    text-align: justify;
    text-justify: inter-word;
}

/* override carousel caption to show underneath the image rather than under it */
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}